.all img{
	width:100%;
}
.head{
	height:1rem;
	width:100%;
	background:#fff;
	text-align:center;
}
.head img{
	float:left;
	margin-left:2%;
	margin-top:0.2rem;
}
.head span{
	color:#000;
	font-size:0.4rem;
}
.content{
	width:100%;
	position:fixed;
	top:1.3rem;
	bottom:0;
	background:gray;
	opacity: 0.5;
}
.content img{
	position: absolute;
	top:2rem;
	left:2rem;
}
button{
	height:0.6rem;
	width:2rem;
	background:#000;
	position: absolute;
	color:#fff;
	top:4rem;
	left:2rem;
    font-size: 0.2rem;
}*/