header{
	height:1rem;
	background:rgba(33,20,0,.9);
	width:100%;
	position:fixed;
	top:0;
	line-height: 1rem;
	text-align: center;
	color:#fff;
}
header p{
	font-size: 0.4rem;
}
.margin{
	margin:1rem 0;
}
.father{
	display:flex;
	height:1rem;
	background:rgba(33,20,0,.9);
	width:100%;
	position:fixed;
	bottom:0;
	line-height: 1rem;
}
.father a{
	flex-grow:1;
	font-size: 0.2rem;
	color:#fff;
	text-align: center;
}
.contentall{
	width:100%;
}
.content img{
	width:100%;
	height:4rem;
}

