.father{
	background: #fff;
	display:flex;
	height:1rem;
	width:100%;
	position:fixed;
	bottom:0;
	line-height: 1rem;
}
.father a{
	flex-grow:1;
	font-size: 0.2rem;
	text-align: center;
}
.father img{
	width:100%;
	height:1rem;
	line-height: 1rem;
}
.imgs{
	width:100%;
}
.img{
	width:100%;
	position: relative;
	margin-bottom: 1rem;
}
.top{
	width:10%;
	height:0.4rem;
	position: absolute;
	bottom:0.2rem;
	right:4%;
}
