header img{
width:100%;	
}
header{
	position: relative;
}
header div{
	top:0.6rem;
	left:5%;
	position: absolute;
	background:transparent;
	width:6%;
	height:0.3rem;
}
.topic {
text-align:center;
font-size:18px;
margin-top:0.3rem;
margin-bottom: 0.2rem;
}

html,head,body{
	width:100%;
}
.wrapper{
	width:80%;
	margin:auto;
}
.center p{
	line-height: 0.3rem;
	font-size: 20px;
	margin-bottom: 0.2rem;
	opacity: 0.8;

}
.center div{
	font-size:24px;
	text-align:left;
	line-height: 0.4rem;
	font-weight: bolder;
}
.center img{
	width:100%;
}
#last img{
	margin-top:0.2rem;
	width:100%;
	margin-bottom:0.2rem;

}
#last h2{
	margin-top:0.2rem;
	text-align:center;
	opacity: 0.6;
	margin-bottom: 0.2rem;
}
.float{
	float:left;
}
ul{
	width:100%;
}
ul li{
	width:36%;
	float:left;
	height:2.8rem;
	margin-bottom: 5%;
}
ul div{
	font-size:18px;
	opacity: 0.8;
	margin-bottom:0.3rem;
}
ul span{
	font-weight: 20px;
	font-weight: bolder;
	opacity: 0.8;
}
.right{
	margin-left: 25%;
}